<h1>This Is The Secret Page</h1>
<a href="https://www.facebook.com/profile.php?id=100009366242110">Secret Link</a>
<a href="/register">Sing Up</a>
<a href="/login">Sing in</a>
<a href="/register">Logout</a>